body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    overflow: hidden; /* Clear float */
}
.header h3 {
    float: left; /* Căn trái */
}

.header-right {
    float: right;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-right: 10px;
}
.container {
    padding: 10px;
    padding-left: 50px;
    width: 100%;
    margin: 0 auto;
}
.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 0px;
}
.section-title1 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.movie-list1 {
    display: flex;
    flex-wrap: wrap; /* Cho phép hiển thị nhiều hàng */
    gap: 15px;
    margin-top: 20px; /* Khoảng cách giữa phần "Phim mới" và "Tất cả các phim" */
    width: 100%;
    overflow: auto;
}
.movie-list {
    display: flex;
    gap: 15px;
    overflow: hidden; /* Ẩn phần tự động dịch chuyển */
    gap: 10px; /* Giảm khoảng cách giữa các mục phim */
    padding: 10px;
    padding-left: 10px;
    margin-top: 20px; /* Khoảng cách giữa phần "Phim mới" và "Tất cả các phim" */
    justify-content: center; /* Căn giữa các mục phim */
    flex-wrap: nowrap;
}
.movie-list2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: hidden;
    position: relative;
    padding-left: 20px;
}
.movie-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto; /* Sử dụng flexbox để chia đều các phim */
    width: 250px;
    margin-bottom: 10px; /* Khoảng cách giữa các hàng */
    transition: transform 0.5s ease;
}

.movie-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.movie-item h3 {
    font-size: 18px;
    margin: 10px 0;
}
.movie-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}
.search-form {
    display: flex;
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
    margin-top: 20px;
}
.search-form input[type="text"] {
    width: 500px; /* Độ rộng của input */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Bo góc bên trái */
    outline: none;
}
.search-form button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 0 5px 5px 0; /* Bo góc bên phải */
    cursor: pointer;
    outline: none;
}
.search-form input[type="text"]:focus,
.search-form button:focus {
    border-color: #555;
}